<launch>
  <arg name="end_effector_link" default="end_effector_link"/>
  <arg name="robot_description_parameter" default="robot_description"/>

  <param name="/end_effector_link" type="string" value="$(arg end_effector_link)"/>
  <param name="/robot_description_parameter" type="string" value="$(arg robot_description_parameter)"/>

  <!-- Start joint state and other controllers -->
  <node name="controller_spawner_started" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"
    args="
      joint_state_controller
    "/>
  <node name="compliant_controller_spawner_started" pkg="controller_manager" type="spawner" respawn="false"
      output="screen"
      args="
        --stopped
        compliant_controller
      "/>

  <!-- Load controller configuration -->
  <rosparam file="$(find compliant_controllers)/config/compliant_controller.yaml" command="load" />

  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->

</launch>
